.btn-main, .btn-main-s {
  background-color: #0075ff;
  color: white;
  border: none;
  border-radius: 4rem;
  padding: 0.5rem 1em;
  margin: 0;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075ff;
  border: solid 1px #0075ff;
}
.btn-main-s {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.btn-sec, .btn-sec-s {
  border-radius: 4rem;
  padding: 0.5rem 1em;
  margin: 0;
  background-color: rgb(2, 136, 85);
  color: white;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: rgb(2, 136, 85);
  background-color: transparent;
  border: solid 1px rgb(2, 136, 85);
}
.btn-sec-s {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.main-menu {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}
.main-menu li {
  font-size: 1rem;
  list-style: none;
  display: inline;
  padding: 0 2rem;
}
.main-menu li a {
  color: white;
  text-decoration: none;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  font-size: 1.25rem;
  color: #0075ff;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
}

.benefit {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.benefit i {
  color: #0075ff;
  font-size: 7rem;
}
.benefit .description .title {
  font-size: 1.8rem;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
}
.benefit .cta {
  margin-top: 3rem;
  color: #0075ff;
  font-weight: 600;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.icon-desc .icon {
  color: #0075ff;
  font-size: 10rem;
  padding: 0;
}
.icon-desc .title {
  margin-top: -1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  width: 100vw;
  border-bottom: solid 1px #ddd;
  background-color: #0075ff;
  padding-bottom: 0.5rem;
}

.logo a img {
  width: 5rem;
}

.sec-home {
  display: flex;
  max-width: 100%;
  width: 100vw;
  padding: 3rem;
  margin: auto;
  align-items: center;
}
.sec-home .home-cta {
  width: 50vw;
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #0075ff;
}
.sec-home .home-cta .home-title {
  font-size: 2rem;
}
.sec-home .home-img {
  width: 20vw;
}
.sec-home .home-img img {
  width: 20vw;
}

.sec-features, .sec-onboarding .intro, .sec-benefits .intro {
  max-width: 100%;
  width: 100vw;
  padding: 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.sec-features .intro, .sec-onboarding .intro .intro, .sec-benefits .intro .intro {
  text-align: center;
}
.sec-features .intro h3, .sec-onboarding .intro .intro h3, .sec-benefits .intro .intro h3 {
  font-size: 2rem;
}
.sec-features .intro p, .sec-onboarding .intro .intro p, .sec-benefits .intro .intro p {
  font-size: 0.8rem;
  color: #888;
}
.sec-features .features, .sec-onboarding .intro .features, .sec-benefits .intro .features {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: auto;
}
.sec-features .features .text, .sec-onboarding .intro .features .text, .sec-benefits .intro .features .text {
  padding: 2rem 0;
  flex: 1;
}
.sec-features .features .text .feature, .sec-onboarding .intro .features .text .feature, .sec-benefits .intro .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-features .features .text .feature .description, .sec-onboarding .intro .features .text .feature .description, .sec-benefits .intro .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-features .features .text .feature .description .description-title, .sec-onboarding .intro .features .text .feature .description .description-title, .sec-benefits .intro .features .text .feature .description .description-title {
  font-size: 1.25rem;
}
.sec-features .features .text .feature .description .description-text, .sec-onboarding .intro .features .text .feature .description .description-text, .sec-benefits .intro .features .text .feature .description .description-text {
  font-size: 1rem;
}
.sec-features .features .imagen img, .sec-onboarding .intro .features .imagen img, .sec-benefits .intro .features .imagen img {
  max-width: 100%;
  width: 30vw;
}

.sec-benefits {
  border-top: 1px solid #ccc;
}
.sec-benefits .intro {
  text-align: center;
  margin-bottom: -10vh;
}
.sec-benefits .benefit-cards {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.sec-kpis {
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 40vh;
  background-color: #0075ff;
  color: white;
  padding: 1.5rem;
  margin: 0;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.sec-kpis .kpi .number {
  font-size: 5vh;
  font-weight: 600;
}
.sec-kpis .kpi .desc {
  font-size: 2.5vh;
  color: rgba(255, 255, 255, 0.6666666667);
}

.sec-onboarding .steps {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-onboarding .step-separator {
  flex: 1;
  border-top: 2px solid #ddd;
  margin: 0 1rem;
}

.sec-footer-cta {
  background-color: #f4f8fe;
  padding: 5rem;
}
.sec-footer-cta .footer-cta {
  width: 50%;
}
.sec-footer-cta .footer-cta .cta-title {
  font-size: 2rem;
}
.sec-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
}

/*# sourceMappingURL=style.css.map */
