@mixin btn-base {
    border-radius: 4rem;
    padding: 0.5rem 1em;
    margin: 2rem;
}

@mixin btn-sm-modify{
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
}

$color-main:#0075ff;

.btn-main {
    background-color: $color-main;
    color: white;
    border: none;
    margin: 2rem;
    @include btn-base();

    &:hover {
        background-color: white;
        color: $color-main;
        border: solid 1px $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: rgb(2, 136, 85);
    background-color: transparent;
    border: solid 1px rgb(2, 136, 85);

    &:hover {
        color: rgb(5, 158, 5);
        border: solid 1px rgb(5, 158, 5);
    }
    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu {
    li {
        font-size: 1rem;
        list-style: none;
        display: inline;
    }
}

.icon-sm {
    width: 40rem;
    height: 4rem;
    i {
        color:$color-main;
    }
}