$color-main:#0075ff;

.btn-main {
    background-color: $color-main;
    color: white;
    border: none;
    border-radius: 4rem;
    margin: 2rem;
    padding: 0.5rem 1em;

    &:hover {
        background-color: white;
        color: $color-main;
        border: solid 1px $color-main;
    }

    &-s {
        @extend .btn-main;
        font-size: 0.75rem;
    }
}