@mixin btn-sm-modify{
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
}

$color-main:#0075ff;

.btn-main {
    background-color: $color-main;
    color: white;
    border: none;
    border-radius: 4rem;
    margin: 2rem;
    padding: 0.5rem 1em;

    &:hover {
        background-color: white;
        color: $color-main;
        border: solid 1px $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @extend .btn-main;
    color: rgb(2, 136, 85);
    background-color: transparent;
    border: solid 1px rgb(2, 136, 85);

    &:hover {
        color: rgb(5, 158, 5);
        border: solid 1px rgb(5, 158, 5);
    }
    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}