//Importo componentes para usar variables
@use "components";

@mixin section-display {
    max-width: 100%;
    width: 100vw;
    padding: 3rem;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100vw;
    border-bottom: solid 1px #ddd;
}

.logo a img {
    width: 4rem;
}

.sec-home {
    display: flex;
    @include section-display();
    align-items: center;
    .home-cta {
        width: 50vw;
        flex: 1;
        .cta-text {
            color: components.$color-main;
        }
        .home-title {
            font-size: 2rem;
        }
    }
    .home-img {
        width: 20vw;
        img {
            width: 20vw;
        }
    }
}

.sec-features {
    @include section-display();
    display: flex;
    flex-direction: column;
    .intro {
        text-align: center;
        h3 {
            font-size: 2rem;
        }
        p {
            font-size: 0.8rem;
            color: #888;
        }
    }
    .features {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: auto;
        .text {
            padding: 2rem 0;
            flex: 1;
            .feature {
                display: flex;
                flex-direction: row;
                align-items: center;
                .description {
                    margin-left: 1rem;
                    max-width: 20rem;
                    .description-title {
                        font-size: 1.25rem;
                    }
                    .description-text {
                        font-size: 1rem;
                    }
                }
            }
        }
        .imagen {
            img {
                max-width: 100%;
                width: 30vw;
            }
        }
    }
}

.sec-benefits {
    border-top: 1px solid #ccc;
    .intro {
        @extend .sec-features, .intro;
        text-align: center;
    }
    .benefit-cards {
        width: 100%;
    }
}

.sec-kpis {
    max-width: 100%;
    width: 100vw;
    background-color: components.$color-main;
    color: white;
    padding: 4rem;
    
    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;

        .number {
            font-size: 3.5rem;
            font-weight: 600;
        }

        .desc {
            font-size: 0.9rem;
            color:#fffa;
        }
    }
}

.sec-onboarding {
    .intro {
        @extend .sec-features, .intro ;
    }
    .steps {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .step-separator {
        flex: 1;
        border-top: 2px solid #ddd;
        margin: 0 1rem;
    }
}